body {
  background-color: rgb(19, 18, 18);
  color: white;
  font-family: "Times New Roman";
  min-height: 100%;
  
    display: block;
    -webkit-text-size-adjust: 100%;

  }  

.head {
  padding: 5px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: underline;
}





.topnav {
  background-color: black;

    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;

  position: fixed;

  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #5e0c3ca9;
}
 .topnav img{
  border-radius: 50px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.bgimage{
  height:100vh;
  background:url(home.png);
  background-size: cover;
  position: relative;
  margin-top: 45px;

}
.container-fluid{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.homerow{
  text-align: center;
  width: 100%;
  max-width: 100%;
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.bgimage h2{
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.2;

}
.bgimage p{
  font-size: 2rem;
  margin-bottom: 1rem;
}


h1 {

  display: block;
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}
#about{
  margin-top: 50px;
  height: auto;
}

.container {
  text-align: center;
  margin: auto;
  column-gap: 5px;
  height: auto;
  max-width: 1140px;
  column-gap: 10px;

}

.aboutme h5{
  font-size: 20px;
}

.aboutme{
  margin-top: 30px;
  margin-bottom: 50px;
}
.about{
  background-color:#514e5ee7;}


.container img {
  width: 50%;
  float: middle;
  border-radius: 50%;
  margin-bottom: 60px;

}
.row{
  margin
  :10px;
  column-gap: 10px;


}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  /* Should be removed. Only for demonstration */
}
.text{
  padding: 10px;
  border: 2px solid wheat;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.skill{
  padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  height: auto;
  max-width: 1140px;


}

.skills{
  background-color:#aeaef3c2;

}


.list {
  float: left;
  width: 50%;
  padding: 10px;


}

.container2:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .list {
    width: 100%;
  }
}


.list{
background-image: url(web.jpg);
  background-repeat: no-repeat;
  background-size: 540px 450px;
}

.container2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container2 li:hover {
  background-color: rgb(73, 71, 71);
}

.container2 ul {

  height: 370px;
  list-style-image: url('imag sk.png');
  font-size: large;
  margin-top:50px ;
  margin-left: 50px;
}

* {
  box-sizing: border-box;
}


.inter {
  text-align: center;
  margin-bottom: 100px;

}


.eventscontainer img {
  overflow-clip-margin: content-box;
  overflow: clip;
  margin: 10px;
  border-radius: 8px;
}

.events{
  background-image: url(bac2.png);


}
.event {
  padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    height: auto;
    text-align: center;
    max-width: 1140px;
}

.event img {
  border: 7px solid rgb(155, 161, 160);

}
.row1{
  margin-bottom: 50px;
  align-items: center;
}

.column1{
  float: left;
  width: 33.33%;
  height: 500px;
  margin-top: 50px;
  
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    
  }
}


.eventscontainer {
  padding: 10px;

  border: 10px groove whitesmoke;
  background-color:   #f807073d; 

}

.ev-third {
  width: 33.33333%;
  height: 470px;
  float: left;
}

.event-white {
  padding: 0.01em 16px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.motivation{
  background-color: #b6106342;
  margin-bottom: 50px;
}


.motive {
  padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    height: auto;
    text-align: center;
    max-width: 1140px;
  margin-bottom: 70px;
  margin-top: 70px;

}


.motive.col2{
  height:auto;}

strong{
  border: 5px ;
}

#watch {
  margin-top: 30px;
  margin-bottom: 30px;
}

.left1
.right1

 {
  height: 600px;

}

.left1 {
  margin-top: 90px;
}

/* Style the middle column */


.right1 img {
  border: 5px solid wheat;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

/* Style the right column */
.right1 {
  grid-area: right;
  margin-top: 90px;
}

.left1 h4 {
  font-style: italic;
}
.col2{
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px;
   
}
.motive:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col2 {
    width: 100%;
  }
}
.books{

  padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    height: auto;
    text-align: center;
    max-width: 1140px;
}

.book {
  color: rgba(245, 245, 245, 0.829);
  background-image: url(lab.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 8px;

  margin-top: 70px;
  margin-bottom: 70PX;
}

#read {
  margin-top: 90px;
  margin-bottom: 50px;
}

#para {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 300px;
  height: auto;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f80909;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.form{
  background-color: rgba(211, 14, 250, 0.062);
}

.contact {
  border: 5px solid rgb(214, 214, 250);
  border-radius: 5px;
  padding: 20px;
}

#contact {
  text-align: center;
}
.form-container {
  background-color: #52aed8ab;
  width: 50%;
  margin: auto;
  padding: 2%;
  border: 5px solid #9abccf;
  margin-top: 80px;
  margin-bottom: 80px;
}

label {
  display: block;
  margin-top: 25px;
  font-size: 1rem;
}

input,
textarea {
  width: 80%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.form p {

  margin-top: 40px;
  margin-bottom: 40px;
}

.form button {
  width: 82.5%;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background: rgba(155, 6, 6, 0.863);
  line-height: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid rgb(39, 17, 17);
  margin-top: 25px;
}

button:hover {
  color: red;
  background: #fff;
}

.errors {
  display: block;
  color: red;
  margin-top: 5px;
}

.error {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  box-shadow: 0 0 15px 0 rgba(255, 36, 0, 1);
}
